<h1 class="display-4 p-4 text-center font-weight-bold">KEEP TRACK OF YOUR NOTES</h1>
<div class="text-center" align="center">
    <div class="col-sm-8 mx-auto" align="center">

        <div class="">

            <div class="card">
                <div class="card-body ">
                    <h3 class="mb-5"> REGISTER</h3>

                    <form action="/users/register" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <input type="text" value="{{name}}" placeholder="Name" name="name"
                                        class="form-control" />
                                    <label class="form-label" for="name">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <input type="text" value="{{lastname}}" placeholder="Last name" name="lastname"
                                        class="form-control" />
                                    <label class="form-label" for="lastname">Last name</label>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" value="{{email}}" placeholder="Email" name="email"
                                class="form-control" />
                            <label class="form-label" for="email">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" value="{{password}}" placeholder="Password" name="password"
                                class="form-control" />
                            <label class="form-label" for="password">Password</label>
                        </div>

                        <!-- Password confirmation -->
                        <div class="form-outline mb-4">
                            <input type="password" value="{{password2}}" placeholder="Password" name="password2"
                                class="form-control" />
                            <label class="form-label" for="password2">Confirm password</label>
                        </div>



                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Register
                        </button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>or register with:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>


 <div class="section section-team text-center">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="/images/note1.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                
                <h2>Easy to use</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
        </p>
        <p><a class="btn btn-primary" href="/reporte">Aprende mas »</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="https://helenafoodshare.org/wp-content/uploads/2018/10/secure-png-.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            
                <h2>Fast</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
        </p>
        <p><a class="btn btn-primary" href="/reporte">Aprende mas »</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                
                <h2>Secure</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
        </p>
        <p><a class="btn btn-primary" href="/reporte">Aprende mas »</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>

<div class="jumbotron">
    <h1 class="display-4 text-center">REGISTER TODAY!</h1>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, laudantium dicta! Nemo, ipsam? Fuga, ullam
        corporis numquam perspiciatis velit recusandae dolores veniam quas, laudantium quibusdam officia, eligendi nemo
        voluptas repudiandae!
    </p>
    <br>
    <br>

    <div class="text-center">
        <a href="/users/register" class="btn btn-success btn-lg text-center">REGISTER NOW</a>
    </div>

</div>

<br>
<br>

